*{
    margin-left: 2%;
    margin-top: 2%;
}
button{
    display:block;
}
.search{
    background-color:white;
    padding: 3px 30px;
    border-radius: 10px;
    border-color: aqua;
    outline: none;
}