*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 50px;
    margin: 0 8%;
}
.links{
    display: flex;
    color:white;
}
.links, ul{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 50px;
    list-style: none;
}
.links, ul, li{
    padding: 0 20px;
    text-decoration: none;
    /* color: white; */
    font-weight: 400;
}
.btn-section, .logout{
    border: none;
    padding: 3px 20px;
    background-color: #17A2B8;
    color: wheat;
}
/* Col Section */
.container{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    background-color:#f3f3f3;
    width: 80%;

}
.user-col{
    flex:2;
}
.info-col{
    flex: 1;
}
/* user-card section */
.user-card{
    border: 2px solid gray;
}
.card-header{
    background-color: skyblue;
    height: 70px;
}
.user-icon{
    margin-top: 35px;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.card-description{
    margin: 10px;
    margin-top: 50px;
}
/* education section */
.education-card{
    margin-top: 15px;
    border: 2px solid gray;
}
.education-header{
    height: 30px;
    background-color: #333333;
    padding: 10px 10px 0 20px;
    color:white;
}
h2, h3, h4, p{
    font-weight: 400;
    margin-bottom: 10px;
}
span{
    font-weight: 300;
    margin-bottom: 10px;
}
.education-desc{
    margin: 10px;
}
/* Request section */
.info-request{
    border: 2px solid grey;
    margin-left: 20px;
    margin-bottom: 20px;
}
.request-header{
    height: 30px;
    background-color: #333333;
    padding: 10px 10px 0 20px;
    color:white;
}
.request-body{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
.request-img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.icons > i{
    color: #999999;
    font-size: 25px;
}
/* Conections section */
.conections-body{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin-right: 170px;
}
.conections-img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-right: 15%;
}
.divider{
    border: none;
    border-top: 2px solid grey;
    margin: 10px 0;
}
.view-more{
    margin: 30px;
}